<div class="register-title-content">
    <p>Creating account</p>
</div>
<div class="register-items">
    <div class="register-inputs">
        <label class="input-organizer">
            Enter username
            <input class="register-insert insert-username" maxlength="20">
            <p class="inside-input">&#64;</p>
        </label>
        <label class="input-organizer">
            Enter password
            <input class="register-insert insert-pass" type="password" maxlength="100">
            <p class="inside-input">#</p>
        </label>
        <label class="input-organizer">
            Confirm password
            <input class="register-insert insert-confirmpass" type="password" maxlength="100">
            <p class="inside-input">#</p>
        </label>
    </div>
    <div class="register-button-content">
        <button class="register-button">Create account</button>
    </div>
</div>
