<main>
<div class="item-content">
    <div class="picture-content">
        <canvas class="post-picture"></canvas>
    </div>
    <div class="post-info">
        <div class="post-user-info">
            <div class="user-icon-content">
                <img class="user-icon" src="../../../../../assets/images/icons/userprofilepic-example.png">
            </div>
            <div class="user-username-content">
                <p class="user-username">{{ userData.username }}</p>
            </div>
        </div>
        <div class="interactive-post-items">
            <div class="possible-to-addition">
                <div class="popit-post">
                    <div class="popit-icon-content">
                        <canvas class="popit-icon"></canvas>
                    </div>
                    <p class="pop-counter-show">12,394 pops</p>
                </div>
                <div class="commentit-post">
                    <div class="commentit-icon-content">
                        <img class="commentit-icon" src="../../../../../assets/images/icons/commentit-icon.png">
                    </div>
                    <p class="comment-counter-show">1,3498 comments...</p>
                </div>
            </div>
            <div class="public-insights"></div>
            <div class="post-description-content">
                <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, velit tempora dolorum nisi harum sed, itaque, ratione vitae autem quos facilis eveniet. Accusantium aut inventore explicabo tenetur totam praesentium consequuntur!</p>
            </div>
        </div>
    </div>
</div>
</main>
