*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
}

.left-nav-bar{
    position: relative;
}

.right-nav-bar{
    position: relative;

}

.page-limit{
    width:100%;
    display:flex;

    justify-content:center;
}
.feed-content{
    display:flex;
    justify-content: center;
}
