<div class="left-nav-content">
    <div class="circle-content-top">
    </div>
    <div class="circle-content-bottom">
        <div class="nav-items">
            <div class="nav-tools">
                <div class="config-content">
                    <img class="config-icon" src="../../../../assets/images/icons/config-icon.png">
                </div>
            </div>
            <div class="nav-user-content">
                <div class="user-pfpic-content">
                <img class="user-pfpic" src="../../../../assets/images/icons/userprofilepic-example.png">
                </div>
                <div class="user-username-content">
                    <p class="user-username">{{ userData.username }}</p>
                </div>
                <div class="user-status-items">
                    <div class="user-status-content">
                        <p class="user-text-status">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="user-emoji-content">
                        <p class="user-emoji-status">😂</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
