<main>
    <div class="background">
        <div class="circle-bg"></div>
        <div class="circle-bg"></div>
        <div class="circle-bg" style=""></div>
        <div class="circle-bg" style=""></div>
        <div class="circle-bg" style=""></div>
    </div>
    <div class="register-content">
        <div class="circle-register">
            <div class="register-container">
                <app-register-first-step></app-register-first-step>
            </div>
        </div>
    </div>
</main>